@font-face {
	font-family: "Avenir LT Std Black";
	src: url("../fonts/AvenirLTStd-Black.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Black Oblique";
	src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Book";
	src: url("../fonts/AvenirLTStd-Book.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Book Oblique";
	src: url("../fonts/AvenirLTStd-BookOblique.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Heavy";
	src: url("../fonts/AvenirLTStd-Heavy.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Heavy Oblique";
	src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Light";
	src: url("../fonts/AvenirLTStd-Light.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Light Oblique";
	src: url("../fonts/AvenirLTStd-LightOblique.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Medium";
	src: url("../fonts/AvenirLTStd-Medium.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Medium Oblique";
	src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Oblique";
	src: url("../fonts/AvenirLTStd-Oblique.otf") format("otf");
}

@font-face {
	font-family: "Avenir LT Std Roman";
	src: url("../fonts/AvenirLTStd-Roman.otf") format("otf");
}

.font-size-3-5 {
	font-size: 3.5rem;
}

.font-size-3 {
	font-size: 3rem;
}

.font-size-2 {
	font-size: 2rem;
}

.font-size-1-5 {
	font-size: 1.5rem;
}

.font-size-1 {
	font-size: 1rem;
}

.font-size-1-2 {
	font-size: 1.2rem;
}
