$white:    #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #8898aa !default;   // Line footer color
$gray-700: #525f7f !default;   // Line p color
$gray-800: #32325d !default;   // Line heading color
$gray-900: #212529 !default;
$black:    #000 !default;

$bg-shadow-tiny: 0 1px 8px rgba(0,0,0,.1);
$bg-shadow-small: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
$bg-shadow-medium: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$bg-shadow-heavy: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$bg-shadow-heaviest: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$blue:    #5e72e4 !default;
$indigo:  #5603ad !default;
$purple:  #8965e0 !default;
$pink:    #f3a4b5 !default;
$red:     #f5365c !default;
$orange:  #fb6340 !default;
$yellow:  #ffd600 !default;
$green:   #2dce89 !default;
$teal:    #11cdef !default;
$cyan:    #2bffc6 !default;

$overlay-button: #b554d1 !default;
$overlay-button-hover: #ff0df4 !default;
$overlay-background: #ffffff !default;

$footer-background: $white;

$page-section: linear-gradient(90deg,
		rgba(181,84,209,1) 0%,
		rgba(225,120,255,1) 50%,
		rgba(181,84,209,1) 100%) !default;

$default:       #172b4d !default;
$primary:       #8f43f0 !default;
$secondary:     #FC3AFC !default;
$success:       $green !default;
$info:          $teal !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-900 !default;
$accent:        #fefe17 !default;

$lightest-purple: #e3cffb;
$light-purple: #d9c0fa;
$medium-purple: #aa70f4;
$dark-purple: #530eab;

$btn-primary: #8f43f0;
$btn-primary-hover: #FC3AFC;

$btn-secondary: #7F00FF;
$btn-secondary-hover: #3B0CE8;

$facebook:      #3b5999 !default;
$twitter:       #1da1f2 !default;
$google-plus:   #dd4b39 !default;
$instagram:     #e4405f !default;
$pinterest:     #bd081c !default;
$youtube:       #cd201f !default;
$slack:         #3aaf85 !default;
$dribbble:      #ea4c89 !default;
$github:        #222222 !default;

$title-space: 30px;
